
html {
background-image: url("../images/UrbanDecay/urbanlogo.jpg"); }

* { margin: 0, padding 0; }

* { margin: 0, padding 0; }

body {
  width: 962px;
  background-color: white;
  margin: 15px auto;
  border: 1px solid black; }

  h2 { padding: 1em; }

  header {
  	background-image:
  		 -webkit-linear-gradient(45deg, white 10%, #A971EC 60%, #6A13D1 90%);
    border-bottom:  2px solid #FFFF59;
  }

  main {
    background-color: #E4CFFD;
    height: 2600px;
    width: 725px;
    float: right;
    border-left:  2px solid #FFFF59 }

aside {
  height: 2600px;
  width: 235px;
  float: left;
  background-color: #E4CFFD;
 }

 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     width: 233px;
     background-color: #AE8AF1;
     border: 1px double #C8B6EA;
 }

 li a {
     display: block;
     color: #000;
     padding: 5px 8px;
     text-decoration: none;
     text-align: center;

 }

 /* Change the link color on hover */
 li a:hover {
     background-color: #555;
     color: white;
 }
 .active {
    background-color: #E1D7F4;
    color: #E1D7F4;
}

  footer {
    color: yellow;
    width: 962px;
    height: 80px;
    clear: both;
    background-color: #B074F7;
  }
